@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: normal;
    src: local("Montserrat Alternates"),
        url("../fonts/MontserratAlternates_Regular.woff2") format('woff2'),
        url("../fonts/MontserratAlternates_Regular.woff") format('woff'),
        url("../fonts/MontserratAlternates_Regular.eot") format('eot');
    font-display: swap;
}
