.header {
    margin-top: 40px;
}

.profile {
    max-width: 110px;
    border: 3px solid #ffffffb6;
    border-radius: 50%;
}

.header__top-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    margin-right: 90px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
    font-size: 32px;

}

#div1 {
    display: none;
    position: absolute;
    left: 30%;
    width: 700px;
    height: 685px;
    background-color: #EAC377;
    border-radius: 20px;
    z-index: 9;
}

.header__nav-item {
    margin-right: 90px;
    height: 50px;
    background-color: white;
    border: 1px solid #E4B04B;
    border-radius: 10px;
    box-shadow: 0 8px 4px #E4B04B;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    line-height: 39px;
    white-space: nowrap;
}

.header__user-profile {
    position: relative;
    display: inline-block;
}

.user__profile-list {
    display: none;
    position: absolute;
    background-color: #fbebc4;
    width: 180px;
    font-size: 20px;
    right: 1%;
    border-radius: 10%;
    border: 3px solid #E4B04B;
    z-index: 1;
    box-shadow: 5px 6px 9px #E4B04B;
}

.header__user-profile:hover .user__profile-list {
    display: block;
}

.profile__blocks {
    margin-top: 10px;
    padding: 10px;
    background-color: #e4b14b5b;
    box-shadow: 0 5px 1px #654f225b;
}
.profile__blocks:last-child{
    margin-bottom: 15px;
}



#line__horizont-up {
    border: 3px solid #E4B04B;
    box-shadow: 0 4px 4px #00000070;
    margin-left: -15px;
    width: 1580px;
}