body {
  overflow: hidden;
  position: relative;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
}

.block_main__title {
  background: linear-gradient(150deg, #fdf5f5, #c5b3c1 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5vw;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  overflow: visible;
  padding: 0 0 20px 0;
  position: absolute;
  top: 5%;
  left: 20%;
}

.block_main__desc {
  padding-left: 1%;
  font-size: 1.7vw;
  font-family: monospace;
  text-indent: 20px;
  color: #ddd7d7;
  word-spacing: 7px;
}

#desc_one {
  position: absolute;
  top: 18%;
  max-width: 500px;
  left: 38%;
  font-size: 2vw;
}

#desc_two {
  position: absolute;
  top: 30%;
  left: 3%;
  max-width: 300px;
  width: auto;
  font-size: 2.6vw;
}

#desc_three {
  position: absolute;
  top: 30%;
  left: 78%;
  max-width: 400px;
  color: #ffffffb7;
  font-size: 2.7vw;
} 

.blockRef {
  background: linear-gradient(150deg, #27242044, #0000004f 66%);
  border-radius: 23px;
  width: 28%;
  height: 7%;
  position: absolute;
  margin: 74vh 40vw 0 36.8vw;
  text-align: center;
}
.blockRef:hover{
  transition: all .5s;
  background-color: #ffb348;
}
.blockRef__text {
  font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 2.5vw;
  color: rgba(237, 218, 79, 0.807);
}