:root {
  --background-color: #F9BF4E;
  --text-color: #000000;
  --accent-color: #007bff;
}

body {
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 1.5s;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1580px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #F1CF8E;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

#cont_foot {
  padding: 0;
}

body.dark-theme {
  .container {
    background-color: #3b2e16;
  }
  
  .main__list-blocks {
    background-color: #222222af;
  }

  .header__nav-item {
    background-color: #222222af;
  }

  .main__search-block {
    background-color: #222222af;
  }

  .user__profile-list {
    background-color: #3b2e16;

  }

  --background-color: #222222;
  --text-color: #ffffffed;
  --accent-color: #00a7ff;
}

/* ---MAIN---------------------------------------------------------- */


.main__block {
  display: flex;
}

#line__horizont-up {
  border: 3px solid #E4B04B;
  box-shadow: 0 4px 4px #00000070;
  margin-left: -15px;
  width: 1580px;
}

.main__search {
  position: relative;
  min-width: 400px;
  max-height: 270vh;
  border-right: 8px solid #E4B04B;
  box-shadow: 4px 4px 4px #00000070;
}

/* @media screen and (max-width:500px) {
  header, main {
    max-height: 100px;
  }
} */
#line__horizont-bottom {
  position: absolute;
  border: 3px solid #E4B04B;
  box-shadow: 0 4px 4px #00000070;
  margin-left: -15px;
  width: 1580px;
  top: 100%;
}


.main__search-block {
  position: fixed;
  margin: 39px 25px;
  width: 320px;
  height: 440px;
  border: 5px solid #E4B04B;
  border-radius: 20px;
  background-color: #EAC377;
}

.main_search-search {
  padding: 15px 20px;
  font-size: 24px;
  justify-content: space-between;
}

#search {
  border-radius: 6px;
  height: 23px;
}



.main__list {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.main__list-blocks {
  width: 486px;
  height: 250px;
  border: 5px solid #E4B04B;
  border-radius: 20px;
  box-shadow: 0 8px 4px #E4B04B;
  margin: 30px;
  background-color: #fff;
  transition: all 0.7s;

}

.main__list-blocks:hover {
  transform: scale(1.1);
  box-shadow: 15px 12px 7px 15px #7e632b;

}

.main__list-coctails {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

.list__likes {
  display: flex;
  align-items: center;
}

.list__likes-button {
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
}

.list__likes-count {
  font-size: 18px;
}

.list__note {
  display: flex;

}

/* ---FOOTER---------------- */

.footer_main {
  height: 100px;
  background-color: #7e632b;
}

@media screen and (max-width:500px) {
  .wrapper {
    overflow: auto;
  }

  .main__search-block {
    position: relative;
  }
}