html, body {
    font-family: 'Montserrat Alternates';
    font-weight: 400;
    background-color: #F9BF4E;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1580px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #F1CF8E;
}

#cont_foot {
    padding: 0;
}

.profile {
    max-width: 110px;
}

/* -----HEDER--------------------------------------------- */

.main__article {}

.main__create-items {
    display: grid;
    grid-template:
        "title title"1fr "desc desc"5fr "file file"2fr
        /* дали размер строк*/
        / 2fr 300px;
    /* дали размер колонок*/
    /* justify-content: space-between; */
    justify-items: center;
    /*прижались к правому боку*/
    align-items: center;
}

.main__create-title {
    padding: 10px 34%;
    font-size: 39px;

}

.create__input--title {
    grid-area: title;
    justify-self: start;
    margin: 40px 0 0 100px;
}
.title__name{
    position: relative;
    font-size: 30px;
    margin-bottom: 6px;
    left: 10px;
}
.input__title {
    font-size: 30px;
    width: 500px;
    height: 50px;
    border-radius: 6%;
    padding-left: 12px;
    
}

.create__input--desc {
    grid-area: desc;
    justify-self: start;
    margin: 40px 0 0 100px;
    align-self: start;
}

.input__desc {
    font-size: 40px;
}

.create__input--file {
    grid-area: file;
}

.input__file {
    font-size: 40px;
}

.create__input {}