html, body {
    font-family: 'Montserrat Alternates';
    font-weight: 400;
    background-color: #F1CF8E;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 702px;
    height: 630px;
    padding: 0 15px;
    margin: 140px auto;
    background-color: #EAC377;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* ------------------------------------- */
.register__label{
    margin-left: 60px;
    font-size: 25px;
}

.main__register-logo {
    display: block;
}

.register__logo {
    position: relative;
    margin-bottom: 50px;
    width: 130%;
    right: 70px;
}

.main__register-buttons {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.register__button-input {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 3px solid #eac47772;
    border-radius: 7px;
    box-shadow: 2px 8px 4px #e4b14b66;
    padding: 0 20px;
    background: none;
    z-index: 1;
}

/* Hide the placeholder texts (a) */

::placeholder {
    color: transparent;
}

.register__button-label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #5f6064;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.register__button-input:focus+.register__button-label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #E4B04B;
}

.register__button-input:focus {
    border: 2px solid #E4B04B;
}

.register__button-input:not(:placeholder-shown)+.register__button-label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}

.main__register-button {
    position: relative;
    height: 45px;
    width: 90%;
    margin: 25px 0;
}

.main__register-submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    background-color: #e4b14b05;
    border: 2px solid #E4B04B;
    box-shadow: 3px 5px 5px #E4B04B;
    color: #000000;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.main__register-submitBtn:hover {
    background-color: #fff6e7f6;
    transform: translateY(-2px);
}
