{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="candy_icon.ico" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;1,400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/fonts.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'main/css/style_regist.css'%}">
    <title>ConfiDrinks - вход</title>
</head>

<body>
    <div class="wrapper">
        <main class="main">
            <div class="container">
                <div class="main__register">
                    <a class="main__register-logo"  href="{% url 'home' %}">
                        <img src="{% static 'main/files/logo.svg' %}" alt="logo" class="register__logo">
                    </a>
                    <div class="main__register-blocks">
                        <form action="" class="main__register-buttons">
                            {% csrf_token %}
                            {{ reg }}
                            <label for="" class="register__label">Регистрация</label>
                            <div class="main__register-button">
                                <input type="text" name="name" class="register__button-input"  placeholder="a" required />
                                <label for="" class="register__button-label">Логин</label>
                            </div>
                            <div class="main__register-button">
                                <input type="text" name="password" class="register__button-input" placeholder="a" required />
                                <label for="" class="register__button-label">Пароль</label>
                            </div>
                            <a href="#">Забыл пароль?</a>
                            <a href="{% url 'log' %}" id="reg_str">Войти</a>
                            <input type="submit" name="sabmit" class="main__register-submitBtn" value="Погнали">
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>